{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tu Registration form Templates">
    <meta name="author" content="Ganesh_Tiwari">
    <meta name="keywords" content="Tu Form">

    <!-- Title Page-->
    <title>TU Exam Form</title>

    <!-- Icons font CSS-->
   
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

   
    <!-- Main CSS-->
    <link href="{% static "../static/main.css" %}" rel="stylesheet" media="all">
    

    <!-- Javascipt use to add table data according to the semester selected by user in a form -->

    <script>

       function populate() {

            var sem = document.getElementById("semester_id").value;

            //table indicate tbody 

            var table = document.getElementById("row_pass");


           var rowCount = table.rows.length;
           console.log(rowCount);
           for(var i=rowCount; i>1; i--) {

               table.deleteRow(i-1)
           }
           
            switch(sem) {

                case '1st':
                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;


                case '2nd':

                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;


                case '3rd':
                    
                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;

                 case '4th':
                    
                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;
                    
                 case '5th':
                    
                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;

                 case '6th':

                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;
 
                case '7th':

                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;
                    
                 case '8th':
                    
                    {% for s in subject %}
                    if ('{{ s.subject_semester}}'==sem)
                    {
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        var cell3 = row.insertCell();
                        var cell4 = row.insertCell();

                        


                        cell1.innerHTML = "{{ forloop.counter }}" ;
                        cell2.innerHTML = "{{ s.subject_code }}" ;
                        cell3.innerHTML = "{{ s.subject_name }}" ;
                        cell4.innerHTML = "{{ s.subject_type }}" ;

                    }
                    {% endfor %}
                    break;
 
            }
      }

</script>
    

</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">TU Exam Form</h2>
                </div>


                <!-- This is Tribhuwan University block -->

                <div class="card-heading">
                    <h1 class="title"> Tribhuwan University </h1>
                    <h2 class = "title"> Institute of Science & Technology </h2>

                    <h2 class = "title"> Dean's Office, Kirtipur </h2>
                </div>

                <!-- This is end of the TU Block -->

                <div class="card-body">
                    <form method="post" action = "/addDetail/">
                        {% csrf_token %} 

                        <!-- This is start of Form fields -->
                        



                        <div class="form-row m-b-44">
                         <div class="name">Select Year</div>
                            <div class="value">
                              <select id="year_id" class="form-control" name="Year">
                                  <option value=""> ------------- </option>
                                  {% for y in range_year %}
                                  <option value={{ y }}>{{ y  }}</option>
                                  {% endfor %}
                              </select>
                         </div>
                        </div>




                     <div class="form-row">
                            <div class="name">Faculty </div>
                            <div class="value">
                                    <select id="faculty_id" name = "Faculty" class="form-control">
                                        <option value=""> ------------- </option>
                                        <option value ="Physics"> Physics </option>
                                        <option value = "Computer Science" > Computer Science </option>
                                        <option value = "General"> General </option>
                                        <option value = "BSC. CSIT"> BSC. CSIT </option>
                                        <option value = "BIT"> BIT </option>
                                    </select>
                                </div>
                            </div>
                     




                        <div class="form-row m-b-44">
                         <div class="name">Batch</div>
                            <div class="value">
                              <select id="batch_id" name = "Batch" class="form-control">
                                <option value=""> ------------- </option>
                                {% for b in cur_year %}
                                <option value={{ b }}>{{ b }}</option>
                                {% endfor %}
                              </select>
                         </div>
                        </div>




                        <div class="form-row m-b-44">
                            <div class="name">College/ <br> Institute </div>
                            <div class="value">
                              <select id="college_id" class="form-control" name="College">
                                <option value=""> ------------- </option>
                                <option value="Amrit Campus"> Amrit Campus </option>
                                <option value="Patan Campus">Patan Campus</option>
                                <option value="Tri Chandra Campus">Tri Chandra Campus</option>
                                <option value="Bhaktapur Campus">Bhaktapur Campus</option>
                              </select>
                         </div>
                        </div>




                        <!-- This is the first_name and last_name section in form -->


                            <div class="form-row m-b-55">
                                <div class="name">Name</div>
                                <div class="value">
                                    <div class="row row-space">

                                        <!-- This is the first half of two names in a row -->


                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input class="input--style-5" type="text" name="First_name">
                                                <label class="label--desc">first name</label>
                                            </div>
                                        </div>



                                        <!-- This is the second half of two names in a row -->



                                        <div class="col-2">
                                            <div class="input-group-desc">
                                                <input class="input--style-5" type="text" name="Last_name">
                                                <label class="label--desc">last name</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- This is the next row in a form -->
                            
                        <div class="form-row m-b-44">
                            <div class="name">Gender </div>
                            <div class="value">
                              <select id="gender_id" class="form-control" name="Gender">
                                  <option value=""> ------- </option>
                                <option value="Male"> Male </option>
                                <option value="Female"> Female </option>
                                <option value="Others"> Others </option>
                              </select>
                         </div>
                        </div>


                 <!-- This is Tribhuwan University block -->

                        <div class="form-row m-b-40">
                       <div class="card-heading ">
                            <h1 class="title"> नाम, थर लेख्दा रजिष्ट्रशंन मेमो स्लिप अनुसार नभएमा (मार्कसिट) लब्धाड्ढपत्रमा नाम नसच्याई ट्रान्सक्रिप्ट नपाइने हुनाले रजिष्ट्रशन अनुसार मिल्ने गरी उल्लेख हुन अनिवार्य छ ।  </h1>

                        </div>
                        </div>
                        
                    <!-- This is end of the TU Block -->



                        <div class="form-row m-b-55">
                            <div class="name"> TU <br> Registraion </br> Number </div>

                            <div class = "value">
                                <div class = "row row-refine">
                                            <input class="input--style-5" type="text" name="Tu_registration_number">
                            </div>
                        </div>
                        </div>



                        <div class="form-row m-b-55">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                            <input class="input--style-5" type="text" name="Phone">
                                </div>
                            </div>
                        </div>




 
                        <div class="form-row m-b-44">
                            <div class="name">Semester </div>
                            <div class="value">
                              <select id="semester_id" class="form-control" name="Semester" onchange="populate()">

                                  <option value="" selected> ------- </option>
                                <option value="1st"> 1st </option>
                                <option value="2nd"> 2nd </option>
                                <option value="3rd"> 3rd </option>
                                <option value="4th"> 4th </option>
                                <option value="5th"> 5th </option>
                                <option value="6th"> 6th </option>
                                <option value="7th"> 7th </option>
                                <option value="8th"> 8th </option>
                              </select>
                         </div>
                        </div>






                    <table class="table table-bordered table-dark" id="row_pass" name="sub_table">
                        <tr>
                          <th scope="col" width="5%">S.N.</th>
                          <th scope="col" width="15%">Course Number</th>
                          <th scope="col" width="40%">Subject </th>
                          <th scope="col" width="40%"> Type </th>
                        </tr>
                      
                    </table>
                    <br>
                                            






                        <!-- It is the end of the subjects -->



                <div class="form row m-b-44">
                    <h4 style = " color : blue; " > I will accpet all the <strong> terms & conditions </strong> . </h4>
                </div>


                            <!-- This is the next row in a form -->

                        <div class="form-row p-t-20">
                            <label class="label label--block">Are you an existing customer?</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Yes
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">No
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>




                            <!-- This is the next row in a form -->


                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Submit</button>
                        </div>
                    </form>
                    <br> <br> <br>

                    <form action="/subjectForm/" method="post">
                        {% csrf_token %}
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Subjects</button>
                        </div>
                    </form>






    
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  

</body>

</html>
<!-- end document-->
